/* responsive body design */
@media only screen and (max-width: 550px) {
  html,
  body {
    max-width: 110%;
    overflow-x: hidden;
  }
}
body {
  background-color: #f8f9fa;
}
.header {
  display: flex;
  padding: 70px;
  justify-content: space-evenly;
  background: url("images/Website-Design-Gif.webp");
}
.name label {
  font-size: 80px;
  filter: drop-shadow(2px 2px 2px #222);
}
.name h3 {
  font-size: small;
  font-size: 20px;
  color: gray;
  font-family: sans-serif;
}
.name:hover {
  background: rgb(252, 250, 250);
  transform: scale(1.22);
  height: 160px;
  border-radius: 40px;
  padding: 15px;
  box-shadow: 2px 2px 2px 1px rgba(107, 105, 105, 0.2);
}
.image {
  filter: drop-shadow(5px 5px 5px #222);
}
.image img {
  height: 350px;
  width: 270px;
}
.name {
  margin-top: 100px;
  align-items: center;
  text-align: center;
}
body hr {
  width: 90%;
  height: 10px;
  border: 0;
  box-shadow: 0 10px 5px -10px #8c8c8c inset;
}
/* responsive-profile */
@media only screen and (max-width: 550px) {
  .header {
    padding: 10px;
    padding-top: 30px;
    justify-content: space-around;
  }
  .name label {
    font-size: 30px;
  }
  .image img {
    height: 68px;
    width: 58px;
    margin: 20px;
    border-radius: 10px;
  }
  .name {
    margin: 0px;
    justify-content: space-around;
    align-items: left;
    text-align: left;
  }
  .name:hover {
    background: none;
    transform: scale(1);
    height: none;
    border-radius: 0px;
    padding: 0px;
    box-shadow: none;
  }
}

/* profile summary */
.profile {
  padding: 30px;
  margin-left: 70px;
  margin-right: 70px;
}
.profile h1 {
  font-size: 50px;
  font-family: Tahoma;
}
.summary {
  font-size: 23px;
  color: rgb(80, 71, 71);
}
/* responsive-profile */
@media only screen and (max-width: 550px) {
  .profile {
    margin: 0;
    padding: 20px;
    background: url(images/summary.gif);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
    background-size: cover;
  }
  .summary {
    font-family: sans-serif;
    font-size: 25px;
    color: rgb(218, 201, 203);
  }
  .profile h1 {
    font-size: 30px;
    color: goldenrod;
  }
}
/* connect */

.connect h1 {
  font-size: 50px;
  font-family: Tahoma;
}
.connect {
  padding: 30px;
  text-align: center;
}
.connection {
  display: flex;
  justify-content: space-evenly;
  margin-left: 50px;
  margin-right: 50px;
}
.connection h3 {
  margin-left: 5px;
  margin-right: 5px;
  font-size: x-large;
  color: rgb(99, 96, 96);
}

.connection a:hover {
  transform: scale(1.02);
}
/* responsive */
@media only screen and (max-width: 550px) {
  .connect {
    text-align: left;
    background: url(images/giphy.gif);
    border-radius: 5px;
  }
  .connection {
    display: flex;
    justify-content: inherit;
    margin: 20px;
    flex-direction: column;
  }

  .connection a {
    text-decoration: none;
  }
  .connection h3 {
    color: rgb(218, 187, 13);
  }
  .connect {
    padding: 0px;
  }

  .connect h1 {
    font-size: 30px;
    margin-left: 5px;
    color: rgb(230, 203, 203);
    margin-top: 0;
  }
}

/* skills */

.wrapper {
  width: 400px;
  font-family: "Roboto", sans-serif;

  margin-left: 150px;
}
.skill {
  margin-bottom: 35px;
  position: relative;
  overflow-x: hidden;
}
.skill > p {
  font-size: 18px;
  font-weight: 700;
  color: #1a1716;
  margin: 0;
}
.skill:before {
  width: 100%;
  height: 13px;
  content: "";
  display: block;
  position: absolute;
  background: #e6dbdb;
  bottom: 0;
  border-radius: 3px;
}
.skill-bar {
  width: 100%;
  height: 13px;
  background: #14bdf0;
  display: block;
  position: relative;
  border-radius: 3px;
}

/* SKILL 1 */
.skill1 {
  width: 95%;
  background: rgb(46, 182, 46);
}
.skill-bar span {
  position: absolute;
  border-top: 5px solid #6a2ff4;
  top: -30px;
  padding: 0;
  font-size: 18px;
  padding: 3px 0;
  font-weight: 500;
}
.skill-bar {
  position: relative;
}

.skill1 .skill-count1 {
  right: 0;
}
/* SKILL 2 */
.skill2 {
  width: 85%;
  background: rgb(224, 143, 49);
}

.skill2 .skill-count2 {
  right: 0;
}
/* SKILL 3 */
.skill3 {
  width: 75%;
}
.skill3 .skill-count3 {
  right: 0;
}

/* SKILL 4 */
.skill4 {
  width: 65%;
  background: rgb(110, 46, 182);
}

.skill4 .skill-count4 {
  right: 0;
}

/* SKILL 5 */
.skill5 {
  width: 80%;
}

.skill5 .skill-count5 {
  right: 0;
}

/* SKILL 6 */
.skill6 {
  width: 90%;
  background: rgb(227, 230, 65);
}

.skill6 .skill-count6 {
  right: 0;
}

.skill__set h1 {
  font-size: 50px;
  font-family: Tahoma;
  margin-left: 120px;
}
.skill__set {
  margin-left: 80px;
  margin-bottom: 20px;
}
.content__skill {
  display: flex;
  justify-content: space-evenly;
}
.skill__gif {
  margin-left: 30px;
  margin-top: 15px;
  margin-right: 30px;
}
.skill__gif img {
  height: 500px;
  border-radius: 40px;
  box-shadow: 2px 2px 2px 1px rgba(107, 105, 105, 0.2);
}
/* responsive-skills */
@media only screen and (max-width: 550px) {
  .skill__gif {
    display: none;
  }
  .content__skill {
    flex-direction: column;
  }
  .skill__set {
    margin: 10px;
    padding: 5p;
  }
  .wrapper {
    margin: 2px;
    padding: 2px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }
  .skill__set h1 {
    font-size: 30px;

    text-align: left;
    margin: 0;
    color: rgb(90, 82, 82);
  }
}

/* academic */

.academic h1 {
  font-size: 50px;
  font-family: Tahoma;
  margin-left: 100px;
}
.academic__college label {
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(82, 79, 79);
}
.academic__college p {
  font-size: 20px;
  color: gray;
}
.academic__college {
  margin-bottom: 40px;
}

.academic__school label {
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(82, 79, 79);
}
.academic__school p {
  font-size: 20px;
  color: gray;
}
.academic__school {
  margin-bottom: 40px;
}
.academic__profile {
  justify-content: space-evenly;
  display: flex;
}
.academic__profile {
  margin-left: 50px;
  margin-right: 50px;
}
/* responsive-academic */
@media only screen and (max-width: 550px) {
  .academic__profile {
    flex-direction: column;
  }
  .academic h1 {
    font-size: 30px;
    padding: 10px;
    text-align: left;
    margin: 0;
    color: rgb(90, 82, 82);
  }
  .academic__college {
    margin-bottom: 0px;
  }
  .academic__school {
    margin-bottom: 0px;
  }
  .academic__school label h3 {
    margin-bottom: 5px;
    margin-top: 5px;
  }
  .academic__college label h3 {
    margin-bottom: 5px;
    margin-top: 5px;
  }
  .academic {
    background: url(images/academic.gif);
    background-repeat: no-repeat;
    background-position: center;

    background-size: cover;
    -moz-box-shadow: inset 0 0 0 0px #88db88;
    -webkit-box-shadow: inset 0 0 0 0px #94dde7;
    box-shadow: inset 0px 0px 6px #8dbdbb;
    border-radius: 5px;
  }
}
/* projects */

.project__data h1 {
  font-size: 50px;
  font-family: Tahoma;
  text-align: center;
}
.project__data {
  display: flex;
  justify-content: space-evenly;
}

.project__items__data label {
  font-size: 35px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.project__items__data label a {
  text-decoration: none;
  color: rgb(101, 128, 126);
}

.project__pub__data label {
  font-size: 35px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.project__pub__data label a {
  text-decoration: none;
  color: rgb(101, 128, 126);
}
.project__pub__data p {
  font-size: 20px;

  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(92, 85, 85);
  margin: 0;
}
.project {
  margin-left: 50px;
  margin-right: 50px;
}
.footer {
  width: 100%;
  height: 88px;
  background: black;
  margin: 0;
}
/* responsive-projects */
@media only screen and (max-width: 550px) {
  .project__data {
    flex-direction: column;
  }
  .project__data h1 {
    text-align: center;
    font-size: 30px;
    color: rgb(219, 219, 188);
  }
  .project {
    margin: 0;
    background: url(images/skill.gif);
    padding: 15px;
    border-radius: 5px;
  }
  .project__items__data label {
    font-size: 20px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
  }
  .project__pub__data label {
    font-size: 20px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
  }
  .project__pub__data label a {
    text-decoration: none;
    color: rgb(255, 255, 255);
  }
  .project__items__data label a {
    text-decoration: none;
    color: rgb(255, 255, 255);
  }
  .project__pub__data p {
    font-size: 10px;

    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    color: rgb(155, 146, 146);
    margin: 0;
  }
}

.footer__content h3 {
  color: white;
  font-size: 20px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
